venv/
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

.env

models/checkpoints/*.pth

data/hagrid_raw/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

frontend/node_modules/
frontend/dist/

.DS_Store
Thumbs.db

.vscode/
.idea/